.contato {
  background:#065396;
  padding-bottom:10px;
  padding-top: 0px;
  margin-top: 0px;
}
  .navbar-default {
    background: #0058A8;
    color: #fff;
  }
header .intro-tex {
  padding-top: 100px !important;
}

.navbar-default.navbar-shrink {
  background: #0058A8;
}
.btn-xl {
  background: #F8E69A;
  color: #27BAA5;
  border: none
}
.navbar-default .navbar-nav>.active>a{
  background: rgba(193, 186, 186, 0.5);
  color: #000;
  border:none
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color:transparent;
  color:#767B8F;
  border:none
}
.nav-tabs>li>a:hover {
  background-color:transparent;
  color:#24AD9A;
  border:none;
}
a {
  color:#26B9A4
}
.nav-tabs {
  border:none
}
.team-member img {
  border:7px solid #767B8F;
}
.active {
  background: rgba(0, 0, 0, 0.3); !important;
  border-radius:5px
}
.cha {
  /*background:#767B8F;*/
  background:#f8f8f8;
  color:#919191;
  padding-bottom:100px;
  padding-top:100px;
}
.cha:hover {
}
.bot {
  width:90%;
  background:#26B9A4;
  padding-bottom:20px;
  padding-top:20px;
  border:none
}
.bot:hover {
  background:#0058A8
}
header .intro-text .intro-heading {
  font-size: 50px;
  line-height: 50px;
}
.espaco {
  border-radius: 20px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;
  background: rgba(255, 255, 255, 0.8);
  color:#555555;
}

.parce {
  width: 120px;
  height:auto;
  margin: 10px
}

.map iframe{
    pointer-events: none;
    margin:0;
    padding:0;
}

.sp span { font-weight: 900;
color:#555;}

.sp {
  color:#fff
}
.listra {
  height:5px;
  margin-top:20px;
  margin-bottom:20px;
  background:linear-gradient(to left, rgba(255,0,0,0), #fff, rgba(255,0,0,0))
}

.bandeira {
  width:60px;
  border:none !important;
  position:absolute;
  bottom:0;
  left:70%;
  border-radius:7px;
}
.sobre {
  text-align:left;
  color:#ccc;
  font-weight:100;
  line-height:16px;
  text-shadow:0px 0px 9px #555;
  text-transform:none
}
.nanav {
  background:#f8f8f8;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}
.menu-esp {
  padding-top:15px;
  margin-right:20px;
  margin-left:20px;
}
.convi {
  background-color:#DDDEE4;
  background:url(../img/bg2.jpg) 100% 100%;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  padding-top:50px;
  padding-bottom:20px
}
.vid {
  background:linear-gradient(to bottom, #ccc, #f4f4f4);
  padding-top:100px;
  padding-bottom :100px;
  position:relative;
}
.bg1 {
  background:url(../img/bg1.jpg) 100% 100%;
  background-position:center;
  background-size:cover;
  color:#26B9A4
}
.comm {
  background:url(../img/bg3.jpg) 100% 100%;
  background-position:center;
  background-size:cover;
  padding-top:50px;
  padding-bottom:50px
}
.tam {
  background:#fff;
  border-radius:10px;
  padding-top:120px;
  height:300px;
}
.imgcom {
  border:5px solid #fff;
  position:absolute;
  top:-100px;
}
